<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Infinite Home</title>
      <!--<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>-->
   </head>
   <body>
      <h1>Welcome to the Infine App</h1>
      <h2>Permitenos conocerte mejor.</h2>
      
      <a th:href="@{/token}">Inicia sesi&oacute;n con Twitter</a>
       
      <!--  
       
         In Thymeleaf the equivalent of
         JSP's ${pageContext.request.contextPath}/edit.html
         would be @{/edit.html}
          
       -->
          
<!--       <a th:href="@{/personList}">Person List</a>   -->
       
   </body>
    
</html>